* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.card {
  margin-top: 25px;
  margin-bottom: 25px;
  margin-left: 85px;
  margin-right: 85px;
  width: auto;
}

.card-body {
  display: inline-block;
}

.quote {
  text-align: left;
  display: inline;
}

.blockquote-footer {
  text-align: right;
}

.img-fluid {
  display: inline;
  vertical-align: top;
  float: right;
  height: 200px;
  width: 200px;
}